.simple-button {
  min-height: 65px;
  min-width: 65px;
  padding: 10px 20px;

  border-radius: 10px;
  border: 0;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font: 500 1.1rem sans-serif;

  transition: 200ms;
  will-change: contents;

  background: #fff;
  color: #4d6568;
  fill: #4d6568; //Farbe für das Icon

  cursor: pointer;

  //Klick-Animation (nur wenn Button nicht disabled ist)

  svg {
    transition: transform 200ms;
  }

  &:not(.simple-button--disabled) {
    &:active {
      transform: scale(0.98);
    }
    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

      svg {
        transform: translateX(25%);
      }
    }
  }

  &.simple-button--disabled {
    cursor: not-allowed;
    color: #ccc;
    fill: #ccc;
  }
}
