.app {
  width: 100vw;
  height: 100vh;

  margin: auto 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #eaeef6;
}

/* Minimales CSS-Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
