.lottoschein {
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 15px;
  padding: 20px;

  h1 {
    color: #7c8bb5;
    font: 500 1.5rem sans-serif;

    margin-bottom: 20px;
  }

  //Ein zusätzlicher Wrapper um das Spielfeld mit absoluter Positionierung ist zwar unschön,
  //aber ein guter Weg für die Browser-Kompatibilität um sicherzustellen, dass das Spielfeld immer quadratisch bleibt.
  //aspect-ratio ist leider (noch) nicht auf allen Browser unterstützt (bspw. Chrome/Safari auf iPadOS) s. https://caniuse.com/?search=aspect-ratio
  .spielfeld-wrapper {
    //Ein kleiner Hack um ohne aspect-ratio ein quadratisches Seitenverhältnis zu erzeugen.
    height: 0;
    padding-top: 100%;
    position: relative;

    .spielfeld {
      //Absolute Positionierung "oben links" im Wrapper
      position: absolute;
      top: 0;
      left: 0;

      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 8px;

      width: 100%;
      height: 100%;
    }
  }

  .simple-button {
    margin-top: 8px;
    margin-left: auto;
  }
}
